<%- include("header") -%>

	<div id="heading" class="box">
		<h1><%= listTitle %></h1>
	</div>

	<div class="box">

		<% for (item of newListItems) { %>
			<div class="item">
				<input type="checkbox">
				<p> <%= item.name %> </p>
				<form class="move-right" action="/removeitem" method="post">
					<input type="hidden" name="listName" value="<%= listTitle %>">
					<button type="submit" class="btn" name="itemRemove" value=<%= item._id %>>
						<i class="fas fa-times"></i>
					</button>
				</form>
			</div>
		<% } %>

		<form class="item" action="/" method="post">
			<input type="text" name="newItem" placeholder="Enter an item" autocomplete="off" autofocus="on">

			<button type="submit" name="list" value="<%= listTitle %>">+</button>
		</form>

	</div>

<%- include("footer") -%>